<% include ../partials/header %>
<div class="container">
        <h1 class="text-center">Add a new comment to - <%= campground.name %></h1>
        <div class="row mt-4">
            <div class="col-md-6 offset-md-3">
                <form action="/campgrounds/<%= campground._id %>/comments" method="post" class="form">
                    <div class="form-group">
                        <input type="text" name="comment[text]" placeholder="Your Comment" class="form-control">
                    </div>
                    <input type="submit" value="Submit" class="btn btn-lg btn-info btn-block">
                </form>
                <a href="/campgrounds/<%= campground._id %>">Go Back</a>
            </div>
        </div>
    </div>

<% include ../partials/footer %>
